<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <!-- renders a ServerElementComponent for each object (serverElement) in the array passed to the serverElements property of this AppComponent; the value of each serverElement object in the array is bound to the element (alias: srvElement) property of the corresponding ServerElementComponent rendered (like passing props in React; assigning a value from the parent component to a property of the child component) -->
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
      ></app-server-element>
    </div>
  </div>
</div>
